
html{
    font-size: 1vw;
}
html *{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    
}
main {
    display:flex;
    justify-content: center;
    flex-direction: column;
    
    position:relative;
}

ul{
    list-style-type:none;
}

p{
    font-size:2.5rem;

}
img{
    display:block;
}
figure{
    position: relative;
}
figure img{
    margin: 0 auto;
    width:98vw;
}


@media screen and (max-width:600px){

    ::-webkit-scrollbar {
        width: 0px;
    }
     figure > img{
        width:100vw !important;
    }

}

.initial-page{
    position: relative;
}
.initial-page  figcaption{
    position:absolute;
    top:8%;
    width:100%;
    display:flex;
    justify-content: center;
    color:white;
    font-weight: lighter;
}

.initial-page .bg{
    width:100%;
    height:110vw;
    background-color:black;
    position:relative;
}
.initial-page .blurred-border{
    position:absolute;
    height:47vw;
    width: 90vw;
    top:16vw;
    background-image: url("https://sun9-30.userapi.com/c855024/v855024985/24d996/CDnw5D-YgQI.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    box-shadow: inset 0px 0px 10rem 6rem black;
}


.round-background{
    background-color:#040cb3;
    border-radius:3rem;
    text-align:center;
    font-size: 2.5rem;
    padding: 1rem 2rem ;
}

.blur-border{
    box-shadow: 0px 0px 1rem 0.4rem #040cb3;
}

.initial-page .image-content{
    position: absolute;
    bottom: 7.5%;
    width:100%;
    display:flex;
    flex-direction: column;
   
    color:white;
}

h1{
    font-size: 7rem;
}
h2{
    font-size: 3rem;
}
a{
    display: inline-block;
    text-decoration: none;
    color:white;
}
.initial-page .image-content *{
    text-align:center;
}


.initial-page svg{
	background-color:none;
    width:80vw;
    height:11rem;
    letter-spacing: 1rem;
    text-shadow: 0.4rem 0.4rem 1rem #040cb3,-0.4rem 0.4rem 1rem #040cb3,0.4rem -0.4rem 1rem #040cb3,-0.4rem -0.4rem 1rem #040cb3;
    margin: 0 auto;
    transform: scale(1.25,1.5);
}


.initial-page .image-content > h2{
    transform:scale(1,1.25);
    font-weight: lighter;
}


body .datablock-m{
    margin-bottom:2rem;
}

body .datablock-l{
    margin-bottom: 4rem;
}

body .datablock-xl{
    margin-bottom: 6rem;
}


/* GO home button */
.full-page{
    position:absolute;
    top: 100vh;
    height: 70%;
    width:100%;
    z-index:10;
}
.go-home{
    display:block;
    position: -webkit-sticky;
    position: sticky;
    top: 80vh;
    height:7rem;
    width:7rem;
    background-color: #040cb3;
    margin-left:auto;
    margin-right:1vw;
    z-index:20;
    border-radius:2rem;
}




/*-----------------*/

.initial-page .image-content > h3{
    display:block;
    font-style: italic;
    font-size: 2rem;
    border-bottom: 4px solid #040cb3;
    padding-bottom: 1rem;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    letter-spacing: 0.4rem;
}
.image-content .buttons > a{
    margin-top:10rem;
    margin-right:2rem;
    margin-left:2rem;
}

/*  PART 2  */
.part2 .bg{
    width:100%;
    height:60vw;
    background-color:black;
    position:relative;
}
.part2 .blurred-border{
    position:absolute;
    height:47vw;
    width: 90vw;
    top:0;
    background-image: url("https://images.justwatch.com/backdrop/5929900/s1440/riverdale");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    box-shadow: inset 0px 0px 10rem 6rem black;
}




.part2 {
    background-color:black;
}
.part2 *{
    text-align:center;
    color: white;
}
.part2 figcaption{
    width:100%;
    position:absolute;
    bottom:10%;
    display:flex;
    flex-flow: column;

}


.separation-line{
    height:0.2rem;
    background-color:#040cb3;
    box-shadow: 0px 0 1rem 0.4rem #040cb3;
    margin: 1.2rem 0;
}

.part2 ul{
    display:flex;
    justify-content: center;
}

.part2 ul > li{
    margin: 0 5rem;
    width: 20%;
}

/* PART3 */

.part3 .title-grad{
    background-image:linear-gradient(black,grey,lightgrey);
}
.title-grad > h2{
    padding: 5rem 0;
    text-align:center;
}

.part3{
    background-color:lightgrey;
}
.part3 .pics{
    display:flex;
    justify-content: center;
}
.part3 .pics > img:first-child{

    width:44.5vw;
    height:20vw;
    margin-right:5rem;
    background-image: url("../Images/lapdop.png");
    background-size:70%;
    background-repeat: no-repeat;
    background-position: 54% 30%;
    margin-top:4rem;

}
.part3 .pics > img:last-child{
    width:15vw;
    height:28vw;
    margin-right:10rem;
    background-image: url("../Images/phoneapp.jpg");
    background-size:95%;
    background-repeat: no-repeat;
    background-position:center 1em;
}

.part3 > .main-content > p:nth-child(2){
    width:45%;
    margin: 0 auto;
}
.part3 .img-text{
    display:flex;
    justify-content:center;
    align-items: top;
    flex-direction:row;
    margin-top:5rem;
}

.part3 .img-text .perspec{
    position: relative;
    perspective: 50vw;

}
.part3 .img-text img{
    width:14vw;
    height:27vw;
    margin-right:10rem;
    background-image: url("../Images/phoneapp2.jpg");
    background-size:83%;
    background-repeat: no-repeat;
    background-position:center 1rem;
    transform-style: preserve-3d;
    transform: rotatey(45deg);

}
.part3 .img-text> p{
    margin-top: 5rem;
    width:30%;
}

/* PART4 */
.part4 {
    background-color:black;
    color:white;
    display:flex;
    justify-content: center;
    flex-flow: column;

}
.part4 .title-grad{
    background-image:linear-gradient(lightgrey,grey,black);
}

.part4 > ul > li, .part5 > ul > li{
    display: flex;
    width: 75vw;
    margin:0 auto;
    margin-bottom: 4rem;
    align-items: center;

}
.part4 .my-check{
    font-size:5rem;
    color:#040cb3;
    margin-right:5rem;
}

.part4 > a{
    margin: 0 auto;
    display:block;
}

/* PART 5 */
.part5 {
    background-color:#040cb3;
    color:white;
}
.part5 .title-grad{
    background-image:linear-gradient(black,#040cb3);
    padding-top:3rem;
}

.part5 img{
    width:10vw;
    object-fit:cover;
    margin-right: 5rem;
}

/* PART6 */
.part6{
    text-align: center;
    background-color:#d6d6d6;
}
.part6 > img, .part6 .text-info{
    width: 70vw;
    border-radius:40rem;
    margin: 0 auto;
}

.part6 > img{
    box-shadow: 0px 0px 5rem #040cb3;
    object-fit: cover;
    
}

.part6 .text-info{
    position:relative;
    top:-5vw;
    background-image: radial-gradient(darkgrey,darkgrey,#040cb3);
    box-shadow: 0px 0px 5rem #040cb3;
    height: 47vw;
    display:flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
}

.part6 .text-info > p{
    width:70%;
    text-align:left
}
.part6 .title-grad:first-child{
     background-image:linear-gradient(#040cb3, #d6d6d6);
    padding-top:13rem;
}
.part6 .title-grad:last-child{
     background-image:linear-gradient(#d6d6d6, black);
    padding-top:13rem;
}

/* PART 7 */
.part7{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:black;
    padding-bottom:3rem;
}
.part7 > h2{
    margin-top:3rem;
    transform: scale(1.4,1);
    color: white;
    text-shadow: -0.3rem 0  #040cb3;
    font-size:5rem;
}

.rates{
    width:80%;
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    flex-wrap: wrap;
}

.rates > li{
    position:relative;
    text-align:left;
    flex: 0 0 45%;
    border-radius:5rem;
    padding: 2rem;
    background-color:#ffffff;
    box-shadow: 0.5rem 0.5rem 1rem white;
    margin-bottom: 2rem;
    padding-bottom:10rem;   /*space for button*/
}
.rates > li:last-child{
    box-shadow: 0 0 3rem 2rem #040cb3;
}
.rates > li > h3 {
    font-size: 3.5rem;
    
}
.rates > li > h3 > em {
    position:relative;
    font-size: 3rem;
    margin-left:3rem;
}
.rates > li > h3 > em::after {
    content:" ";
    position:absolute;
    height:0.3rem;
    width:100%;
    background-color:red;
    top:0;
    bottom:0;
    margin: auto 0;
    left:0;
    -ms-transform: rotate(-20deg); /* IE 9 */
    transform: rotate(-20deg);
}
.rates > li > h4{
    font-size: 3rem;
}


.rates > li > ul > li {
    display:flex;
    justify-content: flex-start;
    align-items:center;
    margin: 1rem 0;

}

.rates > li > ul > li:last-child{
    left:0;
    right:0;
    position:absolute;
    bottom:2rem;
    display:flex;
    justify-content:center;
}
.rates a{
    background-color:#040cb3;
    box-shadow: 0px 0px 1rem 0.4rem #040cb3;
}

.rates > li > ul > li >  p{
    padding-left:3rem;
    flex-basis: 80%;
}
.rates .circle{
    font-size:2rem;
    padding: 0.2rem;
    border: 0.3rem solid black;
    border-radius:3rem;

}
/* PART 8 */
.part8{
 position:relative;
}

.part8 .title-grad{
    background-image:linear-gradient(black,white);
    padding-top: 5rem;

}


.interrogation-bg{
    font-size: 20rem;
    text-shadow: 0 0 1rem #040cb3;
    position:absolute;
    top: 4rem;
    left:18rem;
    -ms-transform: rotate(-20deg); /* IE 9 */
    transform: rotate(-20deg);
  
}

.why-me{
    width: 65%;
    margin:0 auto;
    margin-top: 7rem;
}

.why-me li{
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
.why-me li h1{
    padding-right:2rem;
    font-size: 9rem;
    font-weight: 900;
    color:#040cb3;
  
}